<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Moja Strona{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Moja Strona Wizytówka</h1>
        <img src="celebryt.jpg" alt="Wspólny Obrazek">
    </header>

    <nav>
        <ul>
            <li><a href="/mypage/me">O mnie</a></li>
            <li><a href="/mypage/contact">Kontakt</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
